@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #374151;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    scroll-behavior: smooth;
}

/* nav */
.navLinkBorderEffect:after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 10px;
    transition: 300ms;
}

.navLinkBorderEffect:hover:after {
    width: 100%;
}

.navLinkActiveEffect:after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 10px;
    transition: 300ms;
}

/* hero slider */
.swiper-button-prev,
.swiper-button-next {
    transition: 300ms;
    color: white !important;
    margin: 0 10px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--primary) !important;
    transform: scale(1.2);
}

.swiper-pagination-bullet {
    background-color: black !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary) !important;
}

/* products category state and select menu */
.active-button {
    background-color: var(--primary);
    color: white;
}

select {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    outline: none;
}

select option {
    color: var(--primary);
}